/* DEFAULT */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-body{
    height: 100%;
    max-height: 100vh;
    background-color: #010101;
}

.nav-menu{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}

.nav-row{
    display: flex;
    justify-content: space-between;
}

.right{
    display: flex;
    align-items: center;
}

.behance{
    margin-right: 57px;
}

.instagram{
    margin-right: 57px;
}

.img-main{
    width: 400px;

}

.main-section{
    position: relative;
    display: inline-block;
    padding: 0 40px;
    margin-right: 20%;
 
}

.head-text{
    position: absolute;
    right: -37%;
    top: 40%;
    z-index: 99;
}

.one-section{
margin-top: 37px;
margin-left: 20px;
}

.two-section{
    margin-top: 37px;
}

.flex-item-main{
position: relative;
}


.overflow-main{
    display: flex;
    justify-content: center;

}

.footer{
    margin-bottom: 35px;
}

.p-abs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p-abs-foot{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.relative-body{
    position: relative;
    height: 100vh;
    height: 100vh;
}

.behance svg{
    margin-bottom: 2px;
}


.behance:hover .behance-path{
    fill: #1E1E1E;
}

.instagram:hover .ins-path{
    fill: #1E1E1E;
}
.behance{
    cursor: pointer;
}

.instagram{
    cursor: pointer;
}

.mail{
    cursor: pointer;
    
}

.right{
    position: relative;
}


.contact-box{
    background-color: #E1E1E5;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 99999999;
    box-shadow: -3px 3px 7px 0px #00000040;
    display: none;

}

.bottom-contanct{
    margin-top: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-contanct svg{
    margin-right: 5px;
    margin-left: 5px;
}


.contact-box.show {
    display: block;
  }

.mg-8{
    margin-top: 4px;
}

.overoller:hover  path{
fill: #050505;
}

@media only screen and (max-width: 600px) { 
    .nav-row{
        flex-direction: column;
      
    }

    .bottom-contanct svg{
        margin-left: 3px;
        margin-right: 3px;
    }

    .nav-menu{
        padding-left: 30px;
        padding-right: 30px;
    }
    .logo{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .right{
        justify-content: space-around;
    }
    .text-m{
        width: 170px;
        height: auto;
    }

    .one-section{
        margin-top: 15px;
    }
    .one-section svg{
        width: 80px;
    }
    .two-section svg{
        width: 118.73px;
        height: 65px;
 
    }
    .two-section{
        margin-top: 15px;
    }
    .row>*{
        padding: 0 !important;
    }

    .main-section{
        padding: 0;
    }

    .p-abs{
       position: static;
       transform: none;
    }
    .overflow-main{
        justify-content: flex-start;
    }

    .footer{
        margin-bottom: 10px;
    }
    .head-text{
            top: 50%;
            right: -52%;
    }
    .img-main{
        width: 200px;
    }

    .relative-body{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .p-abs-foot{
        position: static;
        transform: none;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }
    .right .behance{
        order: 1;
        margin: 0;
    }
    .right .instagram{
        order: 3;
        margin: 0;
    }
        
    
    .right .mail{
        order: 2;
    }

    .desktop-svg{
        display: none;
     }
     .medium-svg{
        display: none;
     }

     .contact-box{
        z-index: 9999;
        left: 0;
        right: 0;
     }

     .m-oguz{
        display: block;
     }
     .d-oguz{
        display: none;
     }
     .main-body{
        height: auto;
        max-height: auto;
     }
     .d-contact-svg{
        display: none;
     }
    
} 



@media only screen and (min-width: 601px) and (max-width: 1068px) { 

    .nav-menu{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 60px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .right{
        justify-content: space-around;
    }
    .text-m{
        width: 170px;
        height: auto;
    }

    .one-section{
        margin-top: 15px;
    }
    .one-section svg{
        width: 80px;
    }
    .two-section svg{
        width: 118.73px;
        height: 65px;
 
    }
    .two-section{
        margin-top: 15px;
    }
    .row>*{
        padding: 0 !important;
    }

    .main-section{
        padding: 0;
    }

    .overflow-main{
        justify-content: flex-start;
    }

    .footer{
        margin-bottom: 10px;
    }
    .head-text{
            top: 40%;
            right: -53%;
    }
    .relative-body{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .p-abs-foot{
        position: static;
        transform: none;
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }   
    .p-abs{
        position: static;
        transform: none;
        margin: 0;
        padding: 0;
     } 

     .desktop-svg{
        display: none;
     }

     .mobile-svg{
        display: none;
     }

     .footer{
        margin-top: 75px;
     }

     .m-oguz{
        display: none;
     }
     .m-contact-svg{
        display: none   ;
     }
    
} 




@media only screen and (min-width: 1069px){
    .mobile-svg{
        display: none;
     }
     .medium-svg{
        display: none;
     }

     .m-oguz{
        display: none;
     }
     .m-contact-svg{
        display: none;
     }
}



@media only screen and (max-width: 376px){
    .p-abs-foot{
        padding-top: 60px;
    }

    .head-text{
        top: 49%;
        right: -53%;
    }
  
}




